/* Transition */

.btn {
  transition-property: transform; /* Specifies which property to apply the transition to */
  transition-duration: 0.3s; /* Duration of the transition */
  transition-timing-function: ease; /* Timing function of the transition */
  transition-delay: 0s; /* Delay before the transition starts */
}

.btn:hover {
  transform: translate(-10px); /* Move the element 10px to the left when hovered */
}

.btn {
  transition: transform 0.3s ease 0s;
}

.btn:hover {
  transform: translate(-10px);
}



/* Animation */
@keyframes slideInLeft {
  from {
      transform: translateX(-300%);
  }
  to {
      transform: translateX(0);
  }
}

.btn {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


@keyframes slideInLeft {
  from {
      transform: translateX(-300%);
  }
  to {
      transform: translateX(0);
  }
}

.btn {
  animation: slideInLeft 1s ease-in 1 normal forwards;
}